/* form */
.contact-form {
    form {
        .single-form-input {
            display: flex;
            gap: 50px;
            margin-bottom: 30px;

            @include screen-1200 {
                gap: 30px;
            }

            @include desktop {
                gap: 20px;
            }

            @include tablet {
                gap: 20px;
            }

            @include landscape-phone {
                gap: 10px;
            }

            @include portrait-phone {
                gap: 10px;
            }


            label {
                width: 280px;
                font-size: 30px;
                font-weight: 500;

                @include all-phone {
                    font-size: 24px;
                }

                @include screen-1200 {
                    width: 330px;
                }

                @include desktop {
                    width: 425px;
                }

                @include landscape-phone {
                    width: 320px;
                }

                @include portrait-phone {
                    width: 440px;
                    font-size: 18px;
                }
            }

            input,
            textarea {
                border: 0;
                border-bottom: 1px solid $border-color;
                padding: 15px;
                width: 560px;

                &::placeholder {
                    color: $border-color;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $primary-font;
                }
            }

            textarea {
                height: 80px;
            }
        }

        .form-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include landscape-phone {
                margin-top: 50px;
            }

            @include portrait-phone {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 50px;
                gap: 20px;
            }

            label {
                a {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        right: 0;
                        width: 80%;
                        height: 1px;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}

.leave-reply {
    margin-top: 60px;

    form {
        margin-top: 60px;

        textarea {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border: 0;
            border-bottom: 1px solid $border-color;
            padding-bottom: 60px;
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border: 0;
            border-bottom: 1px solid $border-color;
            padding-bottom: 20px;


        }

        #checkbox {
            display: inline;
            width: auto;
            margin: 0;
            padding: 0;
        }

        button {
            margin-top: 60px;
        }
    }
}

.contact-right-form {
    form {
        input {
            display: block;
            padding: 20px;
            border: 0;
            border-bottom: 1px solid $border-color;
            width: 100%;
            margin-bottom: 15px;
            font-size: 20px;
        }

        textarea {
            display: block;
            padding: 20px;
            padding-bottom: 50px;
            border: 0;
            border-bottom: 1px solid $border-color;
            width: 100%;
            margin-bottom: 15px;
            font-size: 20px;
            &::placeholder{
                font-family: $primary-font;
            }
        }

        .radio {
            margin-top: 25px;

            label {
                a{
                   border-bottom: 1px solid $border-color;
                }
            }

            #checkbox {
                display: inline;
                width: auto;
            }
        }

        .primary-btn {
            margin-top: 50px;
        }
    }
}